<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}Intelligent Itenerary Planner!{% endblock %} </title>
<nav>
  <h1>Intelligent Itenerary Planner!</h1>
  <b>Navigation:</b>
  <ul>
    <li><a href="{{ url_for('index') }}">Planner</a></li>
    <li><a href="{{ url_for('add') }}">add</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>